﻿@model TicTacToe.Models.UserModel
<h3>Account Details</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <Gravatar email="@Model.Email"></Gravatar>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>@($"{Model.FirstName} {Model.LastName}")</h4>
                    <p>
                        <i class="glyphicon glyphicon-envelop"></i>&nbsp;
                        <a href="mailto:@Model.Email">@Model.Email</a>
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-calendar"></i>&nbsp;@Model.EmailConfirmationDate
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>