﻿@model TicTacToe.Models.GameSessionModel

@{
    var email = Context.Session.GetString("email");
}


<div id="gameBoard">
    <table>
        @for (int rows = 0; rows < 3; rows++)
        {
            <tr style="height:150px;">
                @for (int columns = 0; columns < 3; columns++)
                {
                    <td style="width:150px; border:1px solid #808080">
                        @{
                            var position = Model.Turns?.FirstOrDefault(turn => turn.X == columns && turn.Y == rows);
                            if (position != null)
                            {
                                if (position.User?.Email == "Player1")
                                {
                                    <i class="glyphicon glyphicon-unchecked"
                                       style="width:100%;height:100%"></i>
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-remove-circle"
                                       style="width:100%;height:100%"></i>
                                }
                            }
                            else
                            {
                                <a asp-action="SetPosition" asp-controller="GameSession"
                                   asp-route-id="@Model.Id" asp-route-email="@email"
                                   class="btn btn-default" style="width:150px;min-height:150px;">
                                    &nbsp;
                                </a>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>

<div class="alert">
    <i class="glyphicon" glyphicon-alert">Please wait until the other user has finished his turn.</i>"
</div>
