﻿@using Microsoft.AspNetCore.Http;
@{ 
    var email = Context.Session.GetString("email");
    var displayName = Context.Session.GetString("displayName");
}

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-rowreverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
               asp-action="Index">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
               asp-action="Privacy">
                Privacy
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
        </li>

        <li>
            @if (!string.IsNullOrEmpty(email))
            {
                Html.RenderPartial("_Account", new TicTacToe.Models.AccountModel
                {
                    Email = email,
                    DisplayName = displayName
                });
            }
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Settings
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-level">
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       href="#">
                        Select your language (@ViewBag.Language)
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li @(ViewBag.Language == "EN" ? "active" : "")>
                            <a asp-controller="Home" asp-action="SetCulture"
                               asp-route-culture="EN">English</a>
                        </li>
                        <li @(ViewBag.Language == "FR" ? "active" : "")>
                            <a asp-controller="Home" asp-action="SetCulture"
                               asp-route-culture="FR">French</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
