﻿@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="row">
    <div class="col-lg-12">
        @section Desktop {<h2>@Localizer["DesktopTitle"]</h2>}
        @section Mobile  {<h2>@Localizer["MobileTitle"]</h2>}
        <div class="alert alert-info">
            <p>Tic-Tac-Toe is a two-player turn-based game.</p>
            <p>
                Two players will choose who takes the Xs and who takes the Os.
                They will then be taking turns and mark spaces in a
                3×3 grid by putting their marks, one mark per turn.
            </p>
            <p>
                A player who succeeds in placing three of his arks in a
                horizontal, vertical, or diagonal row wins the
                game.
            </p>
        </div>
        <p>
            <h3>
                Register by clicking <a asp-controller="UserRegistration" asp-view="Index">here</a>
            </h3>
        </p>
    </div>
</div>